{
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false,
    "document": false,
    "window": false,
    "angular": false,
    "localStorage": false,
    "sessionStorage": false
  }
}
